.text {
    text-align: center;
}

.table-head-search {
    margin-bottom: 1rem;
    padding: 0 0rem 0 1rem;
  }
  
  .searchbar {
    margin-right: -5px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 30px;
    border-style: solid;
    border-color: #9D50BB;
    padding: 0;
  }
  
  .searchbar:hover>.search_icon {
    color: #000000;
  }
  

  .search_input {
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 21.5rem;
    line-height: 30px;
    padding-left: 1rem;
  }

  .search_icon {
    height: 35px;
    width: 80px;
    float: right;
    display: flex;
    border-radius: 1rem;
    color: white;
    background-color: #9D50BB;
    text-decoration: none;
    margin: 0 auto;
  }

  .pmtbtn {
    background-color: #9D50BB !important;
   // color: #FFF !important;
    border-radius: 15px !important;
    border: none !important;
}

.pmtbtn:hover {
    background-color: #FFF !important;
    background-color: #9D50BB !important;
    border: 2px solid #9D50BB !important;
}



.fa {
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  padding-right: 15px;
  padding-left: 15px;
}

.sendEmail{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8% 8% 5% 8%;
}

//for body container
.body-content-container-pm{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  position: relative;
  margin-top: 8rem;
  margin-bottom: 4rem;
}
.container-border-pm{
  // border: 1px solid black;
  width: 150vh;
  min-height: 70vh;
  border: 1px solid #512474; 
  border-radius: 10px;
  padding:2rem 1.5rem 2rem 1.5rem;
  -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.45);
}

.pminput {
  padding-bottom: 5%;
  padding-top: 3%;
}