.body-content-container-student-dashboard {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.container-border-student-dashboard {
    // border: 1px solid black;
    width: 200vh;
    min-height: 100vh;
    // border: 1px solid #512474;
    // border-radius: 10px;
    // padding: 2rem 1.5rem 2rem 1.5rem;
    // -webkit-box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.45);
    // box-shadow: 0px 0px 11px -1px rgba(0, 0, 0, 0.45);
}