.update-font {
    position: relative;
    font-size: 16px;
    font-weight: bold;
}

.update-font::after {
    content: "";
    display: block;
    width: 37rem;
    height: 1px;
    background: #656568;
    left: 155px;
    top: 60%;
    position: absolute;

}

.create-panel {
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

.form-pad {
    padding-bottom: 15px;
}

.create-panel-form {
    width: 100vh;
    min-height: 70vh;
    margin-left: 155px;
}